{% extends 'layout.html' %}

{% block body%}
<div class="jumbotron text-center">
    <h1>Order information</h1>
</div>
    <header class="card-header">
                    <!-- .nav-tabs -->
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#tab1">All</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2">Ongoing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab3">Completed</a>
                      </li>
                    </ul>
                    <!-- /.nav-tabs -->
                  </header>
  <div class="card-body">
                    <!-- .form-group -->
                    <div class="form-group">
                      <!-- .input-group -->
                      <div class="input-group input-group-alt">
                        <!-- .input-group-prepend -->
                        <div class="input-group-prepend">
                          <select class="custom-select">
                            <option selected=""> Filter By </option>
                            <option value="1"> Tags </option>
                            <option value="2"> Vendor </option>
                            <option value="3"> Variants </option>
                            <option value="4"> Prices </option>
                            <option value="5"> Sales </option>
                          </select>
                        </div>
                        <!-- /.input-group-prepend -->
                        <!-- .input-group -->
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <span class="oi oi-magnifying-glass"></span>
                            </span>
                          </div>
                          <input type="text" class="form-control" placeholder="Search record"> </div>
                        <!-- /.input-group -->
                      </div>
                      <!-- /.input-group -->
                    </div>
                    <!-- /.form-group -->
                    <!-- .table-responsive -->
                    <div class="text-muted"> Showing 1 to 10 of 1,000 entries </div>
                    <div class="table-responsive">
                      <!-- .table -->
                      <table class="table">
                        <!-- thead -->
                        <thead>
                          <tr>
                            <th colspan="2" style="min-width:320px">
                              <div class="thead-dd dropdown">
                                <span class="custom-control custom-control-nolabel custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="check-handle">
                                  <label class="custom-control-label" for="check-handle"></label>
                                </span>
                                <div class="thead-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="caret"></span>
                                </div>
                                <div class="dropdown-arrow"></div>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Select all</a>
                                  <a class="dropdown-item" href="#">Unselect all</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Bulk remove</a>
                                  <a class="dropdown-item" href="#">Bulk edit</a>
                                  <a class="dropdown-item" href="#">Separate actions</a>
                                </div>
                              </div>
                            </th>
                            <th> Username </th>
                            <th> items </th>
                            <th> location </th>
                            <th> size </th>
                            <th style="width:100px; min-width:100px;"> &nbsp; </th>
                          </tr>
                        </thead>
                        <!-- /thead -->
                        <!-- tbody -->
                        <tbody>
                        	{% for order in orders %}
                          <tr>
                            <td class="align-middle col-checker">
                              <div class="custom-control custom-control-nolabel custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="selectedRow[]" id="p3">
                                <label class="custom-control-label" for="p3"></label>
                              </div>
                            </td>
                            <td>
                              <a href="#">{{ order[0] }}</a>
                            </td>
                            <td class="align-middle">{{ order[1] }}</td>
                            <td class="align-middle">{{ order[2] }}</td>
                            <td class="align-middle">{{ order[3] }}</td>
                            <td class="align-middle">{{ order[4] }}</td>
                            <td class="align-middle text-right">
                              <a href="#" class="btn btn-sm btn-secondary">
                                <i class="fa fa-pencil-alt"></i>
                                <span class="sr-only">Edit</span>
                              </a>
                              <a href="#" class="btn btn-sm btn-secondary">
                                <i class="far fa-trash-alt"></i>
                                <span class="sr-only">Remove</span>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                        {% endfor %}
                        <!-- /tbody -->
                      </table>
                      <!-- /.table -->
                    </div>
                    <!-- /.table-responsive -->
                    <!-- .pagination -->
                    <ul class="pagination justify-content-center mt-4">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                          <i class="fa fa-lg fa-angle-left"></i>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">...</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">13</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#">14</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">15</a>
                      </li>
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">...</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">24</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">
                          <i class="fa fa-lg fa-angle-right"></i>
                        </a>
                      </li>
                    </ul>
                    <!-- /.pagination -->
                  </div>
{% endblock %}

