    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">MyPersonalRetail</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/women">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/men">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manager">For Manager</a>
          </li>
          
        </ul>
        {% if current_user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="/account">Account</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
        {% else %}
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
        {% endif %}
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-outline-success my-2 my-sm-0" href='/cart'>Cart</a>
        </form>
      </div>
    </nav>